<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <h3>
        <img src="{% static 'images/note.png' %}" style="width:50px" />
        Feedback List
    </h3>
{% endblock title %}

{% block content %}
    <p>
        <a href="{% url 'create' %}">+ Create New</a>
    </p>

    <table class="table">
        <tr><th>Id</th><th>제목</th><th>성별</th><th>이름</th><th>나이</th><th>이메일</th></tr>
        {% for item in feedbacks %}
            <tr>
                <td>
                    <a href="{% url 'edit' id=item.id %}">{{ item.id }}</a>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}