<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}

{% endblock title %}

{% block content %}

<body>
    <body style="background-color:powderblue;">
    <div class="video-container">
        <div class="jetpack-video-wrapper"><span class="embed-youtube" style="text-align:center; display: block;"><iframe width="720" height="450" src="https://www.youtube.com/embed/DoXKOzn-fmU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></span>
    <table class="table">
        {% for youtubeList in video %}
            <tr>
                <td>
                    <a href="{% url 'edit' id=item.id %}">{{ item.id }}</a>
                </td>
                <td>{{ video.content }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <form action="{% url 'create' %}" style="margin: 0 auto; width:100px;">
    <input type="submit" value="댓글 남기러가기" />
    </form>

    <table class="table"style="margin: 0 auto; width:730px;">
        {% for item in feedbacks %}
            <tr>
                <td>
                    <a href="{% url 'edit' id=item.id %}">{{ item.id }}</a>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.email }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}